.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.navListItem {
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.navListItem:hover > .navListItemLink {
  color: var(--color-accent);
}

.navListItemLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.21875;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;

  transition: color var(--anim);
}

.navListItemLink.active {
  color: var(--color-accent);
}
