.button {
  border: 2px solid var(--color-accent);
  background-color: transparent;
  color: var(--color-text-main);
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;

  transition: background-color var(--anim);
}

.button:hover,
.button:focus {
  background-color: var(--color-accent);
}

.button:active {
  scale: 0.98;
}
