.form {
  --gap: 32px;
  position: relative;
  width: 100%;
  text-align: center;

  @media screen and (min-width: 764px) and (max-width: 1259px) {
    --gap: 24px;
  }

  @media screen and (max-width: 1259px) {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1260px) {
    width: 450px;
  }
}

@media screen and (min-width: 1260px) {
  .form::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -40px;
    width: 4px;
    background: var(--color-accent);
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin-bottom: var(--gap);
  text-align: left;

  text-align: center;
}

.formTitle {
  font-weight: 700;
  font-size: 20px;
}

.formDesc {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  padding: 16px;
}

.input {
  width: 100%;
  padding: 16px;

  font-weight: 400;
  font-size: 20px;

  background: var(--color-background-light);
  color: var(--color-text-black);
  border: 1px solid transparent;
}

.input::placeholder {
  color: var(--color-text-black);
}

.input:focus-within {
  border: 1px solid var(--color-accent);
  outline: 1px solid transparent;
}
