.contactWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-accent);
}

.numberWrapper {
  position: relative;
}

.number {
  composes: number from "../../components/PhonesList/types/HeaderPhones.module.css";
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-accent);
  border: none;
  background: transparent;
  cursor: pointer;
  scale: 1;
}
