.header {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0 0;
  display: flex;
  gap: 54px;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: 100;
  width: 100%;
  background-color: var(--color-background-dark);

  @media screen and (min-width: 764px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @media screen and (min-width: 1260px) {
    gap: 66px;
  }
}

.container {
  composes: container from "../Container/Container.module.css";
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navWrapper {
  display: flex;
  align-items: center;
  gap: 66px;
}

.headerLogo {
  width: 30px;
  height: 40px;

  @media screen and (min-width: 764px) {
    width: 42px;
    height: 56px;
  }

  @media screen and (min-width: 1260px) {
    width: 60px;
    height: 80px;
  }
}

.link {
  display: block;
}
