.section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--color-background-dark);

  @media screen and (min-width: 764px) {
    background-color: var(--color-background);

    background-image: url(../../../public/icons/polygons/callback-tablet-polygon.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: 1260px) {
    padding-top: 80px;
    padding-bottom: 120px;

    background-image: url(../../../public/icons/callback-polygon.svg);
  }
}

.polygon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
