.footer {
  padding-top: 90px;
  background: linear-gradient(
    var(--color-background-dark) 90%,
    var(--color-text-black) 10%
  );
}

.container {
  composes: container from "../Container/Container.module.css";
  display: grid;
  grid-template-areas:
    "logo"
    "info"
    "copyright";
  gap: 40px;

  @media screen and (min-width: 764px) {
    grid-template-areas:
      "logo   info"
      "copyright   copyright";
    gap: 40px 100px;
  }
}

.logo {
  @media screen and (max-width: 763px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  position: relative;
  grid-area: info;
  display: grid;

  grid-template-areas:
    "routes"
    "address"
    "mail"
    "socials"
    "button";
  gap: 40px;

  @media screen and (min-width: 764px) {
    grid-template-areas:
      "routes  address"
      "routes  mail"
      "routes  socials"
      "routes  button";
    gap: 20px 50px;
  }

  @media screen and (min-width: 1260px) {
    grid-template-areas:
      "routes  routes  button"
      "address  mail  socials";
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto 1fr;
    align-items: center;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.info::before {
  content: "";
  position: absolute;
  top: -28px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--color-accent);
}

@media screen and (min-width: 764px) {
  .info::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50px;
    width: 4px;
    height: 100%;
  }
}

.mainList {
  grid-area: routes;
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-weight: 500;
  font-size: 16px;

  @media screen and (min-width: 764px) {
    gap: 27px;
  }

  @media screen and (min-width: 1260px) {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}

.routeLink {
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  transition: color var(--anim);
}

.routeLink:hover {
  color: var(--color-accent);
}

.address {
  grid-area: address;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  @media screen and (min-width: 1260px) {
    gap: 0;
  }
}

.mail {
  grid-area: mail;
  font-weight: 400;
  font-size: 16px;

  transition: color var(--anim);
}

.mail:hover {
  color: var(--color-accent);
}

.footerBtn {
  composes: button from "../Button/Button.module.css";
  grid-area: button;
}

.copyright {
  grid-area: copyright;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-top: 20px;
  padding-bottom: 16px;
  color: var(--color-background-gradient);

  font-weight: 500;
  font-size: 14px;

  @media screen and (min-width: 764px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 1260px) {
    padding-top: 16px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
  }
}
