.section {
  composes: section from "../../../../page.module.css";

  @media screen and (min-width: 764px) and (max-width: 1259px) {
    background-image: url(../../../../../../../public/icons/polygons/tablet-polygon.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.title {
  composes: title from "../../../../page.module.css";
  margin-bottom: 60px;
}

.cardItem {
  width: 340px;
  height: 255px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 764px) {
    width: 800px;
    height: 600px;
  }
}

.button {
  composes: button from "../../../../../../components/Contact/Contact.module.css";
  color: var(--color-text-main);
  background: var(--color-accent);
  position: absolute;
  top: 56%;
  /* translate: 0 -50% 0; */
  scale: 1;
}

.button:active {
  scale: 0.93;
}

.buttonRight {
  composes: button;
  rotate: 270deg;
  right: 0;
  z-index: 10;
}

.buttonLeft {
  composes: button;
  rotate: 90deg;
  left: 0;
  z-index: 10;
}
